{% extends 'base.html.twig' %}

{% block title %}Hello EleveController!{% endblock %}
{% block body %}
     <style> 
     body{
    margin-top:20px;
    background:#302d42  
}
img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*==================================================
  Create Post Box CSS
  ==================================================*/

.create-post{
  width: 100%;
  min-height: 90px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f2f2;
}

.create-post .form-group{
  margin-bottom: 0;
  display: inline-flex;
}

.create-post .form-group .form-control{
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.create-post .form-group img.profile-photo-md{
  margin-right: 10px;
}

.create-post .tools{
  padding: 8px 0 10px;
}

.create-post .tools ul.publishing-tools{
  display: inline-block;
  text-align:left;
  margin: 0;
  padding:5px 0;
}

.create-post .tools ul.publishing-tools li a{
  color: #6d6e71;
  font-size: 18px;
}

.create-post .tools ul.publishing-tools li a:hover{
  color: #27aae1;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


/*==================================================
  Friend List CSS = Newsfeed and Timeline
  ==================================================*/

.friend-list .friend-card{
  border-radius: 4px;
  border-bottom: 1px solid #f1f2f2;
  overflow: hidden;
  margin-bottom: 20px;
}

.friend-list .friend-card .card-info{
  padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg{
  margin-top: -60px;
  border: 7px solid #fff;
}

img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.text-green {
    color: #8dc63f;
}
     
</style>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container" style="background-color: #302d42">
         <h1 class="text-center"> Les éleves</h1>
    <div class="friend-list mt-5" >
        <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/6495ED" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Lass</a>
                  	<h5><a href="{{path('profil1')}}" class="profile-link">Fofana Kadina</a></h5>
                  	<p>Kadija</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/008B8B" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <a href="#" class="pull-right text-green">Amara</a>
                  	<h5><a href="{{path('profil1')}}" class="profile-link">Sophia Lee</a></h5>
                  	<p>Milita</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/9932CC" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                   
                  	<h5><a href="{{path('profil1')}}" class="profile-link">Sophia Lee</a></h5>
                  	<p>Boxeur</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/228B22" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                  
                  	<h5><a href="{{path('profil1')}}" class="profile-link">Sophia Lee</a></h5>
                  	<p>Roll COOL</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/20B2AA" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    
                  	<h5><a href="{{path('profil1')}}" class="profile-link">Sophia Lee</a></h5>
                  	<p>Poll rol</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
              <div class="friend-card">
                  <img src="https://via.placeholder.com/400x100/FF4500" alt="profile-cover" class="img-responsive cover">
                  <div class="card-info">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                  
                  	<h5><a href="{{path('profil1')}}" class="profile-link">Sophia Lee</a></h5>
                  	<p>Moll Roll</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
