{%  extends 'base.html.twig' %}

 {% block title %}Création d'un formulaire {% endblock%}
 
 {% block body%}

    <div class="container">
       {{form_start(registrationForm)}} 
         <h1 class="text-center"> Devenir Coach SpeedRun </h1>
         <div class="card col-md-10 offset-md-1 card-effet">
            {# <div class="col-md-10 offset-md-1">
                 <img  height="210" src="images/Speed_Run_logo.PNG" class="card-img-top" alt="..."> 
            </div> #}
            <div class="row">    
                   <div class="alert alert-formInsc">
                        <div class="row">
                            <div class="col-md-4 col-xs-12"> {{form_row(registrationForm.firstname)}}</div>
                            <div class="col-md-4 col-xs-12"> {{form_row(registrationForm.lastname)}}</div>
                            <div class="col-md-4 col-xs-12"> {{form_row(registrationForm.email)}}</div>
                            <div class="col-md-6 col-xs-12"> {{form_row(registrationForm.password)}}</div>
                            <div class="col-md-6 col-xs-12"> {{form_row(registrationForm.password2)}}</div>
                            <div class="col-md-6 col-xs-12"> {{form_row(registrationForm.diplome)}}</div>
                            <div class="col-md-6 col-xs-12"> {{form_row(registrationForm.siret)}} </div>
                        </div>
                            
                        <div>
                          <div class="container-btn">
                          <a class="btn btn-primary col-md-12" href="{{path('app_login')}}"> Inscription !</a>
                       </div>

                      </div>
               </div>
            </div>
         </div>
          
         
          
       {{form_end(registrationForm)}}
    </div>

{% endblock %}