
{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des programmes</h1>
    <hr/>
  <div class="container">

   <table class="table table-hover  border border-dark">
  <thead>
    <tr>
       <th scope="col">ID</th>
         <th scope="col">Nom</th>
         <th scope="col">Etape</th>
        <th scope="col">Preparation</th>
        <th scope="col">ingredien</th>
        <th scope="col">Temps cuisson</th>
        <th scope="col">Temps total</th>
        <th scope="col">Photo</th>
        <th scope="col">Description</th>
         <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Salade</td>
      <td>3 etaps</td>
      <td>10mn</td>
      <td>sel, moyonnaise, salade</td>
      <td>0mn</td>
      <td>15m</td>
      <td>http://placeholder.it/64X64</td>
      <td>1 g de sel, deux tomates</td>
      <td>
        <a href="{{ path('detailpro') }}"  class="btn btn-primary">show</a>
         <a href="{{ path('detailpro') }}"   class="btn btn-secondary">Modifier</a>
        <a href="{{ path('detailpro')}}" class="btn btn-danger">Supprimer </a>
      </td>
    </tr>

    <tr>

         <th scope="row">1</th>
      <td>Salade</td>
      <td>3 etaps</td>
      <td>10mn</td>
      <td>sel, moyonnaise, salade</td>
      <td>0mn</td>
      <td>15m</td>
      <td>http://placeholder.it/64X64</td>
      <td>1 g de sel, deux tomates</td>
      <td>
         <a href="{{ path('detailpro') }}"  class="btn btn-primary">show</a>
         <a href="{{ path('detailpro') }}"   class="btn btn-secondary">Modifier</a>
        <a href="{{ path('detailpro')}}" class="btn btn-danger">Supprimer </a>
      </td>
    </tr>

    <tr>
        <th scope="row">1</th>
      <td>Salade</td>
      <td>3 etaps</td>
      <td>10mn</td>
      <td>sel, moyonnaise, salade</td>
      <td>0mn</td>
      <td>15m</td>
      <td>http://placeholder.it/64X64</td>
      <td>1 g de sel, deux tomates</td>
      <td>
        <a href="{{ path('detailpro') }}"  class="btn btn-primary">show</a>
         <a href="{{ path('detailpro') }}"   class="btn btn-secondary">Modifier</a>
        <a href="{{ path('detailpro')}}" class="btn btn-danger">Supprimer </a>
      </td>
    </tr>

  </tbody>
 </table>
</div>

{% endblock %}