
{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des programmes</h1>
    <hr/>
  <div class="container">

   <table class="table table-hover  border border-dark">
  <thead>
    <tr>
       <th scope="col">ID</th>
         <th scope="col">Nom</th>
         <th scope="col">Serie</th>
        <th scope="col">Repetition</th>
        <th scope="col">Repos</th>
        <th scope="col">Temps total</th>
        <th scope="col">Photo</th>
        <th scope="col">Description</th>
         <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Perdre du poids</td>
      <td>3</td>
      <td>5</td>
      <td>1mn</td>
      <td>30mn</td>
      <td>15m</td>
      <td>http://placeholder.it/64X64</td>
      <td> pompes,  Abdos, 2 tractions</td>
      <td>
         <a href="{{ path('detailpro') }}"  class="btn btn-primary"><i class="fas fa-pen"></i></a>
         <a href="{{ path('modifpro') }}"   class="btn btn-secondary md-4">Modifier</a>
        <a href="{{ path('detailpro')}}" class="btn btn-danger md-4"> <i class="fas fa-trash"></i></a>
      </td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Perdre du poids</td>
      <td>3</td>
      <td>5</td>
      <td>1mn</td>
      <td>30mn</td>
      <td>15m</td>
      <td>http://placeholder.it/64X64</td>
      <td> pompes,  Abdos, 2 tractions</td>
      <td>
         <a href="{{ path('detailpro') }}"  class="btn btn-primary"><i class="fas fa-pen"></i></a>
         <a href="{{ path('modifpro') }}"   class="btn btn-secondary md-4">Modifier</a>
        <a href="{{ path('detailpro')}}" class="btn btn-danger md-4"> <i class="fas fa-trash"></i></a>
      </td>
        
    </tr>

    <tr>
       <th scope="row">1</th>
      <td>Perdre du poids</td>
      <td>3</td>
      <td>5</td>
      <td>1mn</td>
      <td>30mn</td>
      <td>15m</td>
      <td>http://placeholder.it/64X64</td>
      <td> pompes,  Abdos, 2 tractions</td>
      <td>
         <a href="{{ path('detailpro') }}"  class="btn btn-primary"><i class="fas fa-pen"></i></a>
         <a href="{{ path('modifpro') }}"   class="btn btn-secondary md-4">Modifier</a>
        <a href="{{ path('detailpro')}}" class="btn btn-danger md-4"> <i class="fas fa-trash"></i></a>
      </td>
        
    </tr>  

  </tbody>
 </table>
</div>

{% endblock %}