
{% block body%}

    <div class="container">
       {{form_start(form)}} 

          <div class="row">

                
                   <div class="alert alert-formInsc">
                        <h2 class="text-center"> Modification d'un programme! </h2>
                          <hr>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">{{form_row(form.nom)}}</div>
                            <div class="col-md-6 col-xs-12">  {{form_row(form.serie)}}</div>
                            <div class="col-md-6 col-xs-12">{{form_row(form.repetition)}}</div>
                            <div class="col-md-6 col-xs-12">  {{form_row(form.repos)}}</div>
                            <div class="col-md-6 col-xs-12"> {{form_row(form.temps_total)}}</div>
                             <div class="col-md-6 col-xs-12"> {{form_row(form.description)}}</div>
                            
                              
                        </div>
                        <div> 
                            <a class="btn btn-primary  col-md-12" href="{{path('programme_index')}}">Créer un programme  </a>
                         </div>
                            
                  </div>
                      
                
              </div>
          </div>
         
          
       {{form_end(form)}}
    </div>

{% endblock %}

 