{# {% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}

<div class="container">
    <h1>Programme</h1>
   
      <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ programme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ programme.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ programme.description }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ programme.serie }}</td>
            </tr>
            <tr>
                <th>Repetition</th>
                <td>{{ programme.repetition }}</td>
            </tr>
            <tr>
                <th>Repos</th>
                <td>{{ programme.repos }}</td>
            </tr>
            <tr>
                <th>Temps_total</th>
                <td>{{ programme.tempsTotal }}</td>
            </tr>
        </tbody>
    </table>
 
    <a href="{{ path('programme_index') }}">Revenir sur la liste</a>

    <a href="{{ path('programme_edit', {'id': programme.id}) }}">Modifier</a>

    {{ include('programme/_delete_form.html.twig') }}
  </div>
{% endblock %} #}


